@import "tailwindcss";

@import "flag-icons/css/flag-icons.min.css";


@layer base {
  html {
    font-family: Inter, system-ui, sans-serif;
  }
}

@theme {
    --color-primary: #02554D;
}

@utility drop-shadow-header {
    filter: drop-shadow(0px 0px 4px rgba(0,0,0,0.25));
}